<div class="home">
  <h3 class="title">Resultados:</h3>
  <ul>
    <li><a routerLink="/page1">Quantos candidatos temos nessa lista em cada estado do Brasil?</a></li>
    <li><a routerLink="/page2">IMC médio em cada faixa de idade de dez em dez anos: 0 a 10; 11 a 20; 21 a 30, etc.</a></li>
    <li><a routerLink="/page3">Qual o percentual de obesos entre os homens e entre as mulheres?</a></li>
    <li><a routerLink="/page4">Qual a média de idade para cada tipo sanguíneo?</a></li>
    <li><a routerLink="/page5">A quantidade de possíveis doadores para cada tipo sanguíneo receptor?</a></li>
  </ul>
</div>
